

* {

  box-sizing: border-box;
}


body {


  font-family: Arial, Helvetica, sans-serif;
}



section {

  height: 100vb;
  background-color: rgba(0, 255, 255, 0.449);
}

.two {
  background-color: rgba(0, 0, 255, 0.318);
}


.four {

  background-color: rgba(165, 42, 42, 0.348) ;
}

.three {

  padding: 30px;
}

.three  div {

  width: 300px ;

  height: 20px;
  background-color: #eee;




}


.three div span {

  display: block;
  /* width: 40% ; */
  height: 100%;
  background-color: blue;

  transition: width .3s linear;
}